<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <% if (toDos.length > 0) { %>
      <% for (let i = 0; i < toDos.length; i++) { %>
        <ul>
          <li><%= toDos[i].todo %>-<%= toDos[i].done ? 'Done' : 'Not Done' %></li>
        </ul>
        
<% } %>
<% } else { %>
  <h3>There are no to-do's yet!</h3>
  <% } %>
   

   <hr>
   <form action="/todos" method="POST">
    <input name="newtodo" required placeholder="new to-do here" />
    <button type="submit">Add to do</button>
    
</form>
  </body>
</html>
